#intro-body {
    position: absolute;
    width: 900px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    filter: opacity(85%);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -450px;
}

#intro-body h1 {
    margin-top: -20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#intro-close {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

#intro-content {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 0 80px;
    margin-top: 30px;
}

.map-wrapper {
    position: relative;
    width: 100%;
}

#mapid { 
    z-index: 1;
    margin: 0 auto;
    justify-content: center;
    height: 98vh; 
    width: 98vw;
}

.places-selector {
    width: 15vw;
    height: 30vh;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.places-list {
    text-align: left;
    list-style: circle;
    font-style: normal;
}


.places-title {
    font-size: 20px;
}

.places-item {
    padding-top: 15px;
}

.places-link {
    color: black;
}

.places-link:hover {
    cursor: pointer;
}

.popup-img {
    max-width: 100%;
    max-height: 100%;
}

.popup-head {
    font-size: 26px;
}

.popup-sub {
    margin-top: -20px;
    color: #808080;
}

.popup-lead {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -11px;
    margin-top: 0px;
}

.leaflet-popup-content-wrapper {
    overflow-y: auto;
    height: 60vh;
    width: 40vw;
}

.leaflet-popup-content {
    width: 95% !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.popup-left{
    width: 100%;
}

.popup-right{
    width: 100%;
    margin-top: 70px;
}

.leaflet-popup-content p {
    font-size: 13.5px;
}
